.container{
    padding:20px;
    max-height: 800px;
    overflow-y: auto;
}

.mat-mdc-table {
    width: 100%;
    border: 1px solid grey;
  }

th{
    background-color: beige;
}

button{
    margin: auto;
    color: blue;
}